@model Trolltunga.Models.Project

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-2 full-height" style="background-color: black">

        @foreach (var channel in Model.Channels)
        {
            <div class="channel">
                <i class="icon icon-left fa fa-hashtag fa-2x"></i>@Html.Label(channel.Name, new { @class = "channel" })
                <i class="icon fa fa-trash fa-2x" onclick="location.href='@Url.Action("Delete", "Channel", new { id =  channel.Id })'"></i>
                <i class="icon fa fa-edit fa-2x" onclick="location.href='@Url.Action("Edit", "Channel", new { id =  channel.Id })'"></i>
            </div>
        }

        <div class="channel channel-bottom">
            <label class="channel">Add channel</label><i class="icon fa fa-plus fa-2x" onclick="location.href='@Url.Action("Create", "Channel", new { projectId = Model.Id })'"></i>
        </div>
    </div>
    <div class="col-lg-10">
        @* TODO: Tasks *@
    </div>
</div>

<script>
    $(document).ready(function () {
        $(window).resize(function () {
            $(".full-height").height($(window).height() - $(".full-height").offset().top);
        });
        $(window).resize();
    });
</script>
