@using Microsoft.AspNet.Identity
@model Trolltunga.Models.Channel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Partial("_DashboardMenu", Model.Project, new ViewDataDictionary { { "channelId", Model.Id } })
    <div class="full-height col-lg-10 no-padding-row">
        <div class="messages-container">
            @foreach (var message in Model.Messages)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="http://via.placeholder.com/64x64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@message.ApplicationUser.UserName</h4>
                        @message.Content
                    </div>
                </div>
            }
            @if (Model.Messages.Count == 0)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <i class="fa fa-rocket fa-3x"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Trolltunga Bot</h4>
                        Sei der Erste, der etwas schreibt!
                    </div>
                </div>
            }
        </div>
        <div class="media" id="input" style="margin-top: 0">
            <div class="media-left">
                <img class="media-object" src="http://via.placeholder.com/64x64">
            </div>
            <div class="media-body">
                <div class="row form-inline">
                    <input id="textInput" type="text" class="form-control input-lg"/>
                    <button id="submitInput" type="button" class="btn btn-primary btn-lg">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".messages-container").animate({ scrollTop: $('.messages-container').prop("scrollHeight") }, 1000);

        $(window).resize(function () {
            $(".full-height").height($(window).height() - $(".full-height").offset().top);
            var inputHeight = parseInt($("#input").css("padding")) * 2 + $("#input").height();
            $(".messages-container").height(($(".full-height").height() - parseInt($(".messages-container").css("padding")) * 2) - inputHeight);
            console.log();
        });
        $(window).resize();
    });
</script>