body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fill-height-or-more {
    display: flex;
    flex-direction: column;
}

    .fill-height-or-more > div {
        -o-flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -o-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -ms-flex-basis: auto;
        -o-flex-basis: auto;
        -webkit-flex-basis: auto;
        flex-basis: auto;
    }

i.icon {
    float: right;
    line-height: 50px;
    margin-right: 5px;
}

.channel {
    height: 50px;
    line-height: 50px;
}

div.channel {
    margin: 5px;
}

    div.channel:hover {
        background: #111;
    }

label.channel, a.channel {
    color: #CCC;
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}

    label.channel:hover, a.channel:hover {
        text-decoration: none;
        color: #DDD;
    }
